body {
  font-family: Arial, sans-serif;
  background-color: blanchedalmond;
  margin: 20px;
}

header {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.intro, .contact {
  background-color: white;
  border: 1px solid white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 2px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: black;
  color: white;
}
button {
    background-color: aqua;
    color: black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {  
    background-color: darkblue;
    color: white;
}
